<html>
  <head>
    <title>ModularIOT Control Page</title>
  </head>
  <body>
    <h1>ModularIOT Control Page</h1>
    
    Light:
    <form action="turn_on/light" method="post">      
      <input type="submit" value="Turn On">
    </form>
    <form action="turn_off/light" method="post">
      <input type="submit" value="Turn Off">
    </form>

    <br>
    
    Fan:
    <form action="turn_on/fan" method="post">
      <input type="submit" value="Turn On">      
    </form>
    <form action="turn_off/fan" method="post">
      <input type="submit" value="Turn Off">
    </form>
  </body>
</html>
