<html>
  <head>
    <title>ModularIOT Control Page</title>
    <style type="text/css">body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}h1,h2,h3{line-height:1.2}</style>
  </head>
  <body>
    <div align="center">
      <h1>ModularIOT Control Page</h1>
      <img src="/static/mod-iot.jpg"/>
      <h3>Light</h3>
      <table>
	<tr>
	  <td>
	    <form action="turn_on/light" method="post" display="table-row">      
	      <input type="submit" value="Turn On">
	    </form>
	  </td>
	  <td>
	    <form action="turn_off/light" method="post" display="table-row">
	      <input type="submit" value="Turn Off">
	    </form>
	  </td>
	</tr>
      </table>
      
      <h3>Fan</h3>
      <table>
	<tr>
	  <td>
	    <form action="turn_on/fan" method="post">
	      <input type="submit" value="Turn On">      
	    </form>
	  </td>
	  <td>
	    <form action="turn_off/fan" method="post">
	      <input type="submit" value="Turn Off">
	    </form>
	  </td>
	</tr>
      </table>

    <h3>Light</h3>

    <table>
      <tr>
	<td>
	  <form action="devices/0/turn_on" method="post">
	    <input type="submit" value="Turn On">
	  </form>
	</td>
	<td>
	  <form action="devices/0/turn_off" method="post">
	    <input type="submit" value="Turn Off">
	  </form>
	</td>
      </tr>
    </table>

    <br>

    <h3>Fan</h3>
    
    <table>
      <tr>
	<td>
	  <form action="devices/1/turn_on" method="post">
	    <input type="submit" value="Turn On">
	  </form>
	</td>
	<td>
	  <form action="devices/1/turn_off" method="post">
	    <input type="submit" value="Turn Off">
	  </form>
	</td>
      </tr>
    </table>
    </div>
  </body>
</html>
