<html>
  <head>
    <title>ModularIOT Control Page</title>
  </head>
  <body>
    <h1>ModularIOT Control Page</h1>

    Light:
    <form action="devices/0/turn_on" method="post">
      <input type="submit" value="Turn On">
    </form>
    <form action="devices/0/turn_off" method="post">
      <input type="submit" value="Turn Off">
    </form>

    <br>

    Fan:
    <form action="devices/1/turn_on" method="post">
      <input type="submit" value="Turn On">
    </form>
    <form action="devices/1/turn_off" method="post">
      <input type="submit" value="Turn Off">
    </form>
  </body>
</html>
